
.styleA {
    width: 80%;
}

.styleB {
    width: 60%;
}

.styleC {
    margin-left: 4px;
}

.styleD {
    width: 50px;
}

.styleE {
    width: 20px;
}

.styleF {
    width: 80px;
}

.styleG {
    margin-top: 20px;
}

.styleH {
    padding-right: 30px;
}

.styleJ {
    background-color: #FBFBFC;
    margin: 0px;
    padding: 0px;
    border: 1px solid #f1f1f1;
}

.styleI {
    border-bottom: 1px solid #FBFBFC;
    border-top: 1px solid #FBFBFC;
    padding: 10px;
    margin: 0px;
    transition-duration: 0.5s;
    transition-property: border;
}

.styleK {
    background-color: #D10024;
    width: 100%;
    padding: 8px;
    color: white;
    text-align: center;
    margin: 0px;
    margin-bottom: 0px;
}

.styleK h4 {
    color: white;
    margin: 0px;
}

.styleL p {
    margin: 0px;
    padding: 0px;
}

.styleI:hover {
    border-bottom: 1px solid #D10024;
    border-top: 1px solid #D10024;
}


.input1 {
    width: 3px;
}

.btn-sm {
    background-color: #D10024;
    border: #D10024 2px solid;
    transition-duration: 0.5s;
    transition-property: background-color;
}

.btn-sm:hover {
    background-color: white;
    border: #D10024 2px solid;
    color: #D10024;
}

.red {
    color: #D10024;
}

.title-total {
    border-bottom: 1px solid black;
}

.site-wrapp {
    text-align: center;
    justify-content: center;
    align-items: center;
}

table {
    text-align: center;
    justify-content: center;
    align-items: center;
}

td .center {
    margin-top: 30px;
}

td .center-special {
    margin-top: 25px;
}

.form-range {
    background-color: blueviolet;
}

#customRange {
    background-color: blueviolet;
}

.fa-shopping-cart {
    margin: 0px;
    padding: 0px;
}

.subtotal {
    margin-right: 20px;
}

.btn-pago {
    background-color: #D10024;
    border: 2px solid #D10024;
    transition-duration: 0.5s;
    transition-property: background-color;
}

.btn-pago:hover {
    background-color: white;
    border: 2px solid #D10024;
    color: #D10024;
}

.stock-disponible {
    color: green;
}

.stock-agotado {
    color: red;
}

.car {
    margin-right: 2px;
}

.redes-contacto {
    display: flex;
}

.blanco-negro {
    color: black;
}